body {
    background-color: lightblue;
}

header {
    background-color: blue;
}

header nav {
    float:right;
   
    background-color: blue;
}

header nav ul li {
    display: inline-block;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}