body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightcoral;
    height: 100px;
   
}



header nav ul li {
    padding: 10px 15px;
    justify-content: space-between;
    float: right;
}

header nav ul li a {
    color: white;
    font-weight: lighter;
    font-size: 22px;
}

.welcome {
    padding: 60px;
    background-image: url(../assets/images/denali.jpg);
    background-size: cover;
    height: 150px;
}

.welcome h1 {
    float: right;

}

.line {
    border-right: 100px lightcoral;
    height: 200px;
  
}

.preview img {
    flex-wrap: wrap;
    height: 400px;
    width: 600px;
    border-width: 5px;
    border-color: lightcoral;
    border-style: solid;
    
}